{% extends "users/base.html" %}

{% load i18n %}

{% block tittle %}{% trans "Cambio Password" %}{% endblock %}

{% block content %}
<main>
    <div id="caja_presentacion" class="fila">
            <div id="datos_estudiante" class="llenar"> 
                <div class="titulo">
                    {% trans "Cambio password" %}
                </div>
                <div class="formu">
                    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                        <br>
                        {% csrf_token %}
                        {% if form.errors %}
                        {% for p,q in form.errors.items %}
                            {{q}}
                        {% endfor %}
                        {% endif %}
                        <label for="contra" >
                            <span>Contraseña Actual:</span>
                            {{form.oldpassword}}
                        </label>
                        <label for="contra_c">
                            <span>Contraseña Nueva:</span>
                            {{form.password1}}
                        </label>
                        <label for="contra_c">
                            <span>Contraseña Nueva (De nuevo):</span>
                            {{form.password2}}
                        </label>

                        <br/>
                        <a><button type="submit">Guardar Cambios</button> </a>
                        <br/>
                    </form>
                </div>
            </div>
    </div>
</main>
{% endblock %}
