
table{
    width: 90%;
    margin-right: 30px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    white-space: pre-wrap;
    border-collapse: collapse;
}
td{
    text-align: center;
    border: 1px solid #000;
}
th{
    border: 1px solid #000;
}
.ti{
    margin-top: 5px;
    margin-bottom: 5px;
}
.cont{
    text-align: left;
}
.fecha{
    width:150px;
}
.num{
    width:30px;
    text-align: center;
}
.firmas{
    margin-top: 100px;
    text-align: center;
}
.firmas tr td{
    width: 33%;
    text-align: center;
    border:1px solid #fff;
}
.firmas tr .firma{

    border-top: 1px solid #000;
}