*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
}
html{
    font: size 62.5%;
    min-height: 300px;
    background-color:white;
}
body{
    min-height: 100vh;

}
header{
    display:flex;
    width:100%;
    flex-direction: column;
    height:25vh;
    max-height: 160px ;
    border-bottom:2px solid #fff;
}
header h1{
    text-align: center;
}
/*
main{
    background-color:#09386d;
    height: 75vh;
    min-height: min-content;
    background-image: linear-gradient(#041562,#7c132e);
    height: fit-content;
}*/

form{
    display: flex;
    justify-content:center ;
    flex-direction: column;
    width:100%;
}
label{
    display:flex;
    justify-content: space-between;
    width: 100%;
    height:40px;
    padding: 2px 0px 2px 10px;
    margin-bottom:10px;
}

span{
    width: 40%;
    font-size: 0.8em;
    text-align: center;
    line-height: 35px;
}
input{
    width: 60%;
    min-width: 150px;
    height: 100%;
    border: 2px solid #ccc;
    border-radius: 8px; 
}

a{
    text-decoration:none;
    text-align: center;
    border:2px solid #041562;
    padding: 5px 5px 0px 5px;
    border-radius: 10px;
    height: 30px;
}
a:hover{
    background-color:#041562;
    color:white;
    box-shadow: #041562 0px 22px 40px 4px;
}
a:active{
    background-color:#7c132e;
}
button{
    width: 100%;
    height: 100%;
    background:transparent;
    border:none;
    color:#fff;
    font-size: 1em;
    font-weight: bold;
}
.llenar:hover button{
    color: #000;
}
.llenar button:hover{
    color: #fff;
}
#nav_men{
    background: #000d49;
    height: 25%;
    width: 100%;
    min-width: 350px;
    display: flex;
    justify-content: space-between;
}
#bus{
    width: 25%;
    height: 100%;
    padding-left: 10px;
    display: flex;
    justify-content: start;
}
#bus a{
    width:min-content;
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
    align-self: flex-start;
    height: 100%;
    border: 2px solid transparent;
}
#bus a:hover{
    box-shadow: none;
    background: transparent;
}
#bus a ion-icon{
    color: #fff;
    background:rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    border:2px solid #fff;
    padding: 2px 2px 2px 2px;
    margin: 5px;
}
#bus a:hover ion-icon{
    box-shadow: none;
    color:#000d49;
    border: 2px solid #000d49;
    background:#fff;
}
#bus #bus_sup{
    height: 27px;
    align-self: center;
    width: 70%;
}

#central{
    width: 300px;
    min-width: 350px;
    height: 100%;
    position:relative;
    display:flex;
    justify-content: center;
}
#central ul{
    display: flex;
    width: 300px;
}
#central ul .list{
    position: relative;
    list-style: none;
    width:100px;
    height: 100%;
    z-index: 10;
    padding:none;
    transition: 0.5s;
}
#central ul .list:hover{
    transform: translateY(7px);
}

#central ul .list.active:hover{
    transform: translateY(0);
}
#central ul .list #aux{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    width: 100%;
    border: none;
    padding: none;
}
#central ul .list #aux .i{
    position: relative;
    display: block;
    font-size:20px;
    text-align: center;
    transition: 0.5s;
    border-radius: 50%;
    color: #fff;

    /*
    border: 2px solid #fff;
   
    */
}
#central ul .list:hover #aux .i ion-icon{
    background: #fff;
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
    color: #030437;
}
#central ul .list.active:hover #aux .i ion-icon{
    background: none;
    color: #fff;
}

/*
#central ul .list:hover #aux{
    transform: none;
    background: #fff;
    color: #000;
}*/
#central ul .list.active #aux .i{
    transform: translateY(28px);
    background: transparent;
    color:#fff;
}
#central ul .list.active:hover #aux .i{
    transform: translateY(28px);
}
#central ul .list #aux .txt{
    position: absolute;
    color: #fff;
    width: 100%;
    font-weight: 300;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    line-height: 15px;
    text-align:center;
    padding:none;
    color:transparent;
    opacity: 0;
}
#central ul .list.active #aux:hover{
    background-color:transparent;
    box-shadow: none;
}
#central ul .list #aux:hover{
    background-color:transparent;
    box-shadow: none;
}
#central ul .list.active #aux .txt{
    color: #fff;
    opacity:1;
    transform: translateY(-10px);

}
#central ul .list:nth-child(1).active ~ .indicador{
    transform: translateX(calc(100px*0));
}
#central ul .list:nth-child(2).active ~ .indicador{
    transform: translateX(calc(100px*1));
}
#central ul .list:nth-child(3).active ~ .indicador{
    transform: translateX(calc(100px*2));
}
.indicador{
    position:absolute;
    top:60%;
    left:55px;
    width:40px;
    height:40px;
    background: #7c132e;
    border-radius: 50%;
    border:4px solid #fff;
    transition:0.5s;
}
.indicador::before{
    content:'';
    position:absolute;
    top:2px;
    left:-10px;
    width:10px;
    height:10px;
    background:transparent;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 2px 0 0 #fff;
}
.indicador::after{
    content:'';
    position:absolute;
    top:2px;
    right:-10px;
    width:10px;
    height:10px;
    background:transparent;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 2px 0px 0px #fff;
}
#not{
    width: 25%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    padding-right: 10px;
}
#not a{
    width:min-content;
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
    align-self: flex-start;
    height: 100%;
    border: 2px solid transparent;
}
#not a:hover{
    box-shadow: none;
    background: transparent;
    /*
    border: 2px solid #fff;
    */
}
#not a ion-icon{
    color: #fff;
    background:rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    border:2px solid #fff;
    padding: 2px 2px 2px 2px;
    margin: 5px;
}
#not a:hover ion-icon{
    box-shadow: none;
    color:#000d49;
    border: 2px solid #000d49;
    background:#fff;
}
.notifica{
    display: none;
}
.notifica span{
    color: #ccc;
    line-height: 10px;
    padding: 5px 4px 5px 4px;
    border-bottom: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 7px;
    width:100%;
    height: min-content;
}
.notifica span:hover{
    color: #fff;
    background: #000d49;
    border-bottom: 2px solid #fff;
    transform: translateY(-5px);
    box-shadow: 1px 1px 0 1px #ccc;
}
.notifica.responsive{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:170px;
    right:50px;
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid #7c132e;
    border-radius:10px;
    width:200px;
    z-index: 20;
    padding: 5px 4px 0px 4px;
}
#not .min_men{
    display:none;
}
#not .min_men.res{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top:170px;
    right:10px;
    z-index:30;
    width: 100px;
    margin:5px 3px 5px 3px;
    padding:0px 3px 5px 3px;
}
#not .min_men .ind{
    display: flex;
    background: #7c132e;
    width: 105px;
    height: 30px;
    color:#fff;
    padding: 3px 5px 0px 0px;
    margin-bottom: 5px;
    border: 2px solid #fff;
    transition: 0.5s;
}
#not .min_men .ind:hover{
    border: 2px solid #000d49;
    background:#fff;
    color:#000d49;
    transform: translateY(5px);
}
/*
#nav{
    height: 25%;
    background-color:#000d49;
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
}

#nav a{
    background-color: none;
    text-transform: uppercase;
    border: none;
    color:white;
    font-weight: bolder;
    width: 25%;
    min-width: min-content;
    transition: 1s;
}
#nav a:hover{
    background-color:#fff;
    color:#000d49;
    inset: 5px;
}*/
#busc_btn{
    width:70%;
    align-self: center;
}
#busc_btn a{
    border: 2px solid #fff;
}

#buscador{
    width: 100%;
    padding: 20px 0px 20px 0px;
    background-image: linear-gradient(#000d49,#041562);
    display: none;
    flex-direction: column;
}
#buscador:hover{
    border-radius: 10px;
    border: 2px solid #fff;
    background-image: linear-gradient(#041562,#7c132e);
}
#buscador .titulo{
    width: 80%;
    align-self: center;
    background: rgba(0,0,0,0.3);
}
#buscador:hover .titulo{
    border: 2px solid #fff;
    background:#7c132e;
    text-transform: uppercase;
    letter-spacing:5px;
    transition:0.5s;
}
#buscador #busc{
    width: 90%;
    align-self:center;
    background: rgba(0,0,0,0.3);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    color: #fff;
    z-index: 5px;
    display: flex;
}
#buscador:hover #busc{
    border: 2px solid #fff;
    background:rgba(0,0,0,0.7);
    letter-spacing:2px;
    transition:0.5s;
}
#busc form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
#busc label{
    width: 30%;
    align-items: center;
}
#busc span{
    width: 100%;
    line-height: normal;
    text-align: center;
}
#nav_menu{
    align-self: flex-start;
    background-color:#000d49;
    width: 100%;
    height: 25%;
    display: flex;
    margin: 0px 0px 0px 0px;
}
#navega{
    width:15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navega a{
    text-transform: capitalize;
    height: 30px;
    background-color: #ccc;
    line-height: 15px;
}
#navega a:hover{
    background-color: #000d49;
    color:#fff;
}
#c{
    width:75%;
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    color: white;
}
#c .cat{
    padding: 0px 0px 0px 0px;
    background-color:#000d49;
    color:white;
    border-color: #7c132e;

}
.cat {
    height: 100%;
    margin: 5px 0px 0px 0px;
}

.cat a {
    float: left;
    display: block;
    background-color: #000d49;
    border:2px solid #fff;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 13px;
    overflow: hidden;
    margin-bottom: 7px;
    text-transform: uppercase;
    height: min-content;
    width:33%;
}

.cat a:hover {
    transition:0.5s;
    transform: translateY(-5px);
    background-color: #fff;
    color: #000;
    border: 2px solid #000d49;
    box-shadow: #fff 0px 5px 20px 4px;
}

.cat a.active {
    background-color: #030437;
    color: white;
}

.cat .icon {
    display: none;
}
.d_auc{
    display:flex;
    flex-direction: column; 
    width: 59%;
}
.aux_label{
    height: 80px;
    width: 100%;
    padding: 0px 0px 0px 0px;
}
.spanito{
    text-align: center;
    border-bottom: 1px solid #ccc;
}
@media only screen and (max-width: 1100px){
    #c {
        display: flex;
        justify-content:flex-end;
        align-items: flex-end;
        
    }
    .cat a{
        display: none;
        width: 30px;
        height: 30px;
        align-items: center;
        transition: 0.5s;
    }
    .cat .icon {
        float: right;
        display: flex;
        align-self: center;
    }
    ion-icon{
        width: 20px;
        height: 20px;
    }
    .cat.responsive ion-icon{
        width: 100%;
        height: 20px;
        padding-top: 8px;
    }
    .cat .icon:hover {
        float: right;
        display: flex;
    }
    .cat.responsive {
        display: flex;
        flex-direction: column-reverse;
    }
    .cat.responsive .icon {
        margin: 3px 0px 7px 0px;
        padding:5px 0px 15px 0px;
        align-self: flex-end;
    }
    .cat.responsive a {
        display: flex;
        width:250px;
        margin: 0px 0px 4px 0px;
        padding:20px 5px 20px 10px;
        z-index: 10;
        
    }
    .cat.responsive a:hover {
        display: flex;
        background-color: white;
        color: #030437;
    }
}

nav {
    margin:5px 5px 5px 5px;
    width: 10vw;
    height: 30px;
    background: white;
    border-radius:100px;
    color: rgba(0, 0, 0, 0.87);
    -webkit-clip-path: circle(15px at 15px 15px);
    clip-path: circle(15px at 15px 15px);
    -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
    transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
}
  
nav:hover {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.75s;
    transition-duration: 0.75s;

    -webkit-clip-path: circle(370px at 1px 12px);
    clip-path: circle(370px at 1px 12px);
}
  
nav a{
    display: block;
    height: 20px;
    width: 130px;
    line-height: 1px;
    
    color: inherit;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
nav a:hover { background: #030437; color: white; border-color: white;}
nav a:active { background: #7c132e; color: white; border-color: white;} 
.navicon {
    padding: 7px 10px 10PX 8PX;
    cursor: pointer;
    -webkit-transform-origin: 32px 24px;
    -ms-transform-origin: 32px 24px;
    transform-origin: 32px 24px;
  }
  
.navicon div {
    border: 1px solid bisque;
    border-radius: 50%;
    align-self: center;
    width: max-content;
    height: max-content;
    background: white;
}
  
.navicon div:before,
.navicon div:after {
    display: block;
    content: "";
    width: 20px;
    height: 2px;
    background: rgba(0, 0, 0, 0.87);
    position: absolute;
}
  
.navicon div:before { top: -7px; }

.navicon div:after { top: 7px; }
  

#documentos_rev{
    background-color:rgba(255,255,255,0.2);
    border-radius: 10px;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    width: 90%;
    padding:0px 10px 0px 10px;
}
.docs{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: min-content;
    justify-content: center;
    justify-items: center;
    margin-bottom: 30px;
    background: #fff;
    border-radius: 10px;
}
#documentos_rev .titulo{
    font-size: 25px;
    text-align: center;
}
.docs span{
    width:100%;
    text-align: center;
    font-size: 16px;
}
.pdf_con2{
    width: 100%;
    display:flex;
    justify-content: center;
}
.btn_2{
    display: flex;
    justify-content: space-around;
    height: 35px;
}
.btn_2 a{
    width: 40%;
}
.btn_2 button{
    color: #000;
}
.btn_2 button:hover{
    color: #fff;
}
#aprobar{
    border: 2px solid #2e9203;
}
#aprobar:hover{
    background:#2e9203;
    transform:translateY(-5px);
    box-shadow: #2e9203 0px 10px 20px 4px;
}
#aprobar:active{
    border: 2px solid #fff;
}
#rechazar{
    border:2px solid #ff0040;
}
#rechazar:hover{
    background:#ff0040;
    transform:translateY(-5px);
    box-shadow: #ff0040 0px 10px 20px 4px;
}
#rechazar:active{
    border: 2px solid #fff;
}
.postulantes_pasantia{
    width: 95%;
    background: rgba(255,255,255,0.5);
    margin-bottom: 30px;
    height: min-content;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.pasantia_datos{
    display: flex;
    flex-direction: column;
    border: 2px solid #000d49;
    margin-bottom:10px;
    width: 50%;
    align-self: center;
    border-radius: 10px;
    background:#fff;
}
.pasantia_datos span{
    width: 100%;
    margin-bottom: 5px;
    height: 25px;
}
.estudiantes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction:row;
}
.capa_pro{
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0px;left: 0px;border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
}
.capa_pro p{
    color: #fff;
}
.lista_est_a ul{
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: none;
    text-align: center;
}
.estudiante{
    /*width: 30%;
    min-width: 250px;*/
    position: relative;
    display: flex;
    flex-direction: column;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding:3px 5px 3px 5px;
    margin: 0px 5px 10px 5px;
}
.estudiante .datos{
    display: flex;
    flex-direction:row;
}
.estudiante .datos #datos_e{
    width:80%;
}
.estudiante .datos #datos_e span{
    line-height: normal;
}
.estudiante .datos #promedio{
    width:20%;
    text-align: center;
    padding:0px 0px 0px 0px;
}
.estudiante .documentos{
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}
.estudiante .documentos label{
    padding: 5px 0px 0px 0px;
    margin-bottom: 3px;
}
.estudiante .documentos span{
    line-height:10px;
    width: 80%;
    padding: 5px 1px 0px 1px;
    text-align: left;
}
.estudiante .documentos a{
    align-items: center;
    align-content: center;
}
.estudiante .documentos #logo_check{
    height: 30px;
    width: 30px;
    padding:0px 0px 0px 0px;
}
.estudiante .documentos #logo_check ion-icon{
    align-self: center;
    width: 90%;
    height:90%;
    color: white;
    border-radius: 50%;
    
}
.estudiante .documentos a{
    border:2px solid #ccc;
    color:#000;
}
.estudiante .documentos a:hover{
    background: rgba(0,0,0,0.05);
    box-shadow:inset
}
/*
.estudiante .documentos a ion-icon[name=eye-outline]{
    border:2px solid #ccc;
}*/
.estudiante .documentos #logo_check ion-icon[name=ellipse-outline]{
    background-color: #ccc;
}
.estudiante .documentos #logo_check ion-icon[name=checkmark-circle-outline]{
    background-color: #4dff00;
}
.estudiante .documentos #logo_check ion-icon[name=close-circle-outline]{
    background-color: #ff0040;
}

.estudiante .botones {
    width: 100%;
    padding: 0px 10px 0px 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.estudiante .botones a{
    width: 100%;
    height:min-content;
    min-height:40px;
    font-size:0.8em;
    padding: 10px 5px 10px 5px;
    text-transform: uppercase;
    margin: 3px 5px 3px 5px;
}
.btn_a{
    margin-bottom: 10px;
}
.oculto{
    display:none;
}
.desabilitado{
    border: 2px solid #ccc;
    color:#ccc;
}
.estudiante .botones .desabilitado:hover{

    background: none;
    box-shadow: none;
}

.verificado{
    border-radius: 10px;
}
.mal{
    background: rgba(255, 0, 0, 0.3);
}
.bien{
    background: rgba(72, 255, 0, 0.3);
}
.fila{
    display: flex;
    flex-direction: column;
}
.llenar{
    margin:0px 20px 10px 20px;
    min-width: 300px;
    width:40vw;
    border-radius: 10px;
    background: rgba(255,255,255,0.2);
    color: #fff;
    border-left:2px solid #fff;
    border-right:2px solid #fff;
    padding:10px 10px 10px 10px;
    transition: 0.5s;
    font-weight: bold;
    margin-bottom: 20px;
}
.llenar:hover{
    transition: 0.5s;
    transform: translateY(-5px);
    /*background: rgba(255,255,255,0.3);
    color: #000;*/
    
    box-shadow: #ccc 0px 10px 30px 0px;
}
.llenar .formu{
    background-color:transparent;
}
.llenar:hover .formu{
    background-color:#fff;
    color:#000;
    transition: 0.5s;
}
.postulacion{
    background: rgba(255,255,255,0.05);
    width:80vw;
    border: 5px solid #fff;  
    color: #ccc;
    border-radius:10px;  
    padding:2px 10px 2px 10px;
    text-transform: uppercase;
    transition: 0.5s;
}
.postulacion:hover{
    transition: 1s;
    background: rgba(255,255,255,0.35);
    border: 3px solid #fff;  
    border-radius:10px;  
    border-top:transparent;
    border-bottom: transparent;
    color:#000;
    font-weight:bolder;
}
#documentos_estudiante span{
    line-height: 12px;
    margin-bottom: 3px;
}


.anuncio{
    width:80%;
    padding: 30px 0px 30px 0px;
    background-color: #ccc;
    border: 4px solid #000;
    border-radius: 10px;
    font-weight: bolder;
    text-align: center;
    position: absolute;
}
.anuncio:hover{
    box-shadow: #ccc 0px 10px 30px 0px;
    text-transform: uppercase;
}
.rojo{
    border-radius: 10px;
    color: #ff0040;
    background-color: #7c132e;
    border-color: #fff;
}
.verde{
    border-radius: 10px;
    background-color: #2e9203;
    border-color: #fff;
    color:#4dff00;
}
.espera{
    position:absolute;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.espera .anillo{
    position: relative;
    width: 150px;
    height: 150px;
    margin: -30px;
    border-radius: 50%;
    border:4px solid transparent;
    border-top: 4px solid #00d0ff;
    animation: gira 4s linear infinite ;
}
@keyframes gira{
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }
}
.espera .anillo::before{
    content: '';
    position:absolute;
    width:15px;
    height:15px;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    background: #00d0ff;
    box-shadow: 0 0 0 5px #00d0ff33,
    0 0 0 10px #00d0ff22,
    0 0 0 20px #00d0ff11,
    0 0 20px #00d0ff,
    0 0 50px #00d0ff;

}
.espera .anillo:nth-child(2){
    animation: gira2 4s linear infinite;
    animation-delay: -1s;
    border-left: 4px solid #ffbc00;
    border-top:4px solid transparent;
    
}
.espera .anillo:nth-child(2)::before{
    content: '';
    position:absolute;
    top: initial;
    width:15px;
    height:15px;
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    background: #ffbc00;
    box-shadow: 0 0 0 5px #ffbc0033,
    0 0 0 10px #ffbc0022,
    0 0 0 20px #ffbc0011,
    0 0 20px #ffbc00,
    0 0 50px #ffbc00;
}
@keyframes gira2{
    0%{
        transform: rotate(360deg);
    }100%{
        transform: rotate(0deg);
    }
}
.espera .anillo:nth-child(3){
    animation: gira2 4s linear infinite;
    animation-delay: -3s;
    position: absolute;
    top:-66.66px;
    border-top: 4px solid transparent;
    border-left: 4px solid #ff0058;
}
.espera .anillo:nth-child(3)::before{
    content: '';
    position:absolute;
    top: initial;
    width:15px;
    height:15px;
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    background: #ff0058;
    box-shadow: 0 0 0 5px #ff005833,
    0 0 0 10px #ff005822,
    0 0 0 20px #ff005811,
    0 0 20px #ff0058,
    0 0 50px #ff0058;
}
.espera p{
    position:absolute;
    color:#fff;
    font-size:1.5em;
    font-family: consolas;
    bottom: -80px;
    letter-spacing: 0.15em;
}

#caja_presentacion{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding:40px 0px;
    background-image: linear-gradient(#041562,#7c132e);
    box-sizing: border-box;
    min-height:75vh;
    height: min-content;
}
.caja_pasantia{
    position: relative;
    width: 320px;
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 30px;
    transition: 0.5s;
    box-sizing: border-box;
}

.caja_pasantia::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 50px;
    width: 50%;
    height:100%;
    background-color: #fff;
    border-radius: 8px;
    transform:skewX(15deg);
    transition: 0.5s;
}
.caja_pasantia::after{
    content: '';
    position: absolute;
    top: 0px;
    left: 50px;
    width: 50%;
    height:100%;
    background-color: #fff;
    border-radius: 8px;
    transform:skewX(15deg);
    transition: 0.5s;
    filter: blur(30px);
    transition: 0.5s;
}
.caja_pasantia:hover::before,
.caja_pasantia:hover::after{
    transform: skewX(-15deg);
    left: 70px;
    width:calc(100%-90px);
}
.caja_pasantia:nth-child(1n):before,
.caja_pasantia:nth-child(1n):after{
    background: linear-gradient(315deg, #ffbc00,#ff0058);
}

.caja_pasantia:nth-child(2n):before,
.caja_pasantia:nth-child(2n):after{
    background: linear-gradient(315deg, #03a9f4,#ff0058);
}

.caja_pasantia:nth-child(3n):before,
.caja_pasantia:nth-child(3n):after{
    background: linear-gradient(315deg, #4dff03,#00d0ff);
}
.caja_pasantia #cua{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index:50;
    pointer-events: none;
    box-sizing: border-box;
}
.caja_pasantia #cua::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius:8px;
    background:rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: subebaja 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}
.caja_pasantia:hover #cua::before{
    top: -10px;
    left: 50px;
    width:40px;
    height:40px;
    opacity: 1;
    
}

.caja_pasantia #cua::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width:100%;
    height:100%;
    border-radius:8px;
    background:rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: subebaja 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    animation-delay: -1s;
}
.caja_pasantia:hover #cua::after{
    bottom: -10px;
    right: 50px;
    width:40px;
    height:40px;
    opacity: 1;
}

@keyframes subebaja {
    0%,100%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-10px);
    }
}
#caja_presentacion .caja_pasantia .contenido{
    z-index: 1;
    position: relative;
    left:0;
    padding: 20px 40px;
    background: rgba(255,255,255,0.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    transform: 0.5s;
    color: #fff;  
}
#caja_presentacion .caja_pasantia .contenido:hover{
    background: rgba(255,255,255,0.5);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    color: #000;
    transition: 1s;
}
#caja_presentacion .caja_pasantia .contenido h2{
     font-size:1.8em;
     margin-bottom: 10px;
     text-align: center;
}
#caja_presentacion .caja_pasantia .contenido label{
    width: 100%;
    height: min-content;
    font-size:1.2em;
    margin-bottom: 10px;
    text-align: center;
    padding:0px;
    
}
#caja_presentacion .caja_pasantia .contenido span{
    line-height: 18px;
    width: 200px;
    height:20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
    font-weight: bolder;
}
.contenido a{
    color: #fff;
    border: 1px #fff solid;
    display:block;
    background-color: #0004;
    transition:0.5s;
    text-transform: uppercase;
}
.contenido a:hover{
    color: #000000;
    border: 1px #000 solid;
    display:block;
    background-color: #fff;
    letter-spacing: 5px;
}
.logo_unidad{
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: center;
}
.logo_u{
    width: auto;
    height: 100%;
    border-radius: 10px;
}

#caja_info{
    background-color: #fff;
    border-radius:8px;
    border: 3px solid #fff;
    transition: 1s;
    box-shadow: #000 5px 5px 50px 3px;
}
#caja_info:hover{
    border:3px solid #7c132e;
    box-shadow: #fff 5px 5px 30px 3px;
    transition: 1s;
    
}
.btn{
    position: relative;
    padding: 20px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ccc;
    margin: 10px;
    transition:1s;
    overflow: hidden;
    border: none;
    border-radius: 10px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0004);
}
.blue:hover{
    background:#041562;
    box-shadow: 0 0 10px #041562,
    0 0 20px #041562,
    0 0 30px #041562,
    0 0 40px #041562;
}
.btn::before{
    content:'';
    position:absolute;
    width:20px;
    height:430px;
    background-color: #041562;
    transition: 1s;
    animation: eleg 3s linear infinite;
    animation-delay: 0.11s;
}
.btn:hover::before{
    width: 100%;
    background-color: #fff;
}
@keyframes eleg{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.btn::after{
    content:'';
    position:absolute;
    inset:5px;
    background:#fff;
    transition: 0.5s;
    border-radius: 10px;
}
.blue:hover::after{
    background: #041562;
    inset: 2px;
}

.btn span{
    position:relative;
    text-align:center;
    z-index:1;
    color:black;
    text-transform: uppercase;
    letter-spacing: 6px;
}
.btn:hover span{
    opacity:1;
    color:#fff;
}

#fondo{
    background-image: linear-gradient(#041562,#7c132e);
    height: 75vh;
}
.contenedor{
    margin: 0px 10px 0px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 500px 1fr 1fr;
    grid-template-rows: 100px 200px 1fr;
    height:65vh;
    grid-column-gap:0px ;
    overflow: hidden;
    
}
.contenedor > div{
    /*display: block;*/
    align-items: center;
    align-self: center;
}
.e5{
    display: flex;
    grid-area: 1/3/3/4;
    justify-content: center;
}
.grupo{
    width:100%;
    height:300px;
    overflow: hidden;
    position: relative;
}
.estrellas .est{
    display: flex;
    justify-content:space-around;
    position: relative;
    top:50%;
    left: 50%;
    width:4px;
    height:4px;
    background-color: #fff;
    box-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 25px #fff,
        0 0 30px #fff,
        0 0 35px #fff;
    
    margin: 0 4px;
    border-radius: 50%;
    
    animation: subidos 8s linear infinite;
    animation-duration: calc(105s/var(--i));
}
.est::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 1px;
    background: linear-gradient(90deg, #ffffff, transparent);
  }


.est:nth-child(1) {
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0;
    animation-duration: 1s;
}
  
  .est:nth-child(2) {
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
  }
  
  .est:nth-child(3) {
    top: 80px;
    right: 0px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
  }
  
  .est:nth-child(4) {
    top: 0;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
  }
  
  .est:nth-child(5) {
    top: 0;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
  }
  
  .est:nth-child(6) {
    top: 0;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
  }
  .est:nth-child(7) {
    top: 300px;
    right: 0px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 1.75s;
  }
  
  .est:nth-child(8) {
    top: 0px;
    right: 700px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
  }
  
  .est:nth-child(9) {
    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
  }
  
  .est:nth-child(10) {
    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.25s;
  }
  @keyframes subidos {
    0% {
      transform: rotate(315deg) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(315deg) translateX(-1500px);
      opacity: 0;
    }
  }
/*

@keyframes subi {
    0%{
        background-image: radial-gradient(circle at center,#fff 5%,#04156233 10%,#041562 40%);
        transform: translateY(180px) translateX(calc(30px*var(--i))) scale(0.5);
        
    }
    60%{
        transform: translateY(90px) scale(0.8); 
    }
    100%{
        transform: translateY(-100px) translateX(calc(20px*var(--i))) scale(0.3);
        background-color: #7c132e;
        
    }
}*/
#logos{
    display:flex;
    justify-content:space-around;
    align-items: center;
    height: 75%;
    background-color:#fff;
    padding: 0px 10px 0px 10px;
}

.logo{
    width: 100px;
    height:80%;
}
.logo #umsa{
    margin-top:10px;
    height:80%;
    width: auto;
}
.logo #conta{
    margin-top:20px;
    height:auto;
    width: 100%;
}
#login_u{
    display:flex;
    justify-content: center;
    width:30vw;
    height:min-content;
    flex-direction: column;
    min-width: 325px;
    border-radius:10px;
    z-index: 10;
}
.titulo{
    min-height: 40px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:#7c132e;
    color:white;
    border-radius: 8px;
    margin-bottom: 10px;
}

.formu{
    display:flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    height:85%;
    width:100%;
    border: 2px solid #041562;
    padding:10px 10px 10px 15px;
    border-radius: 8px;
}
/*Aqui va los estilos para el buscador */
#btn-b{
    display: none;
}
#btn-b:checked ~ #buscador{
    display: flex;
}
.label_esp{
    width: min-content;
}

@media only screen and (max-width: 800px) {

    .contenedor{
        grid-template-columns: 1fr 1fr 300px 1.5fr 1fr;
        grid-template-rows: 100px 300px 1fr;
    }

    label{
        display: flex;
        padding: 10px 0px 0px 0px;
        flex-direction: column;
        height:60px;
    }
   
    span{
        text-align:left;
        padding: 5px 0px 0px 10px;
        width:100%;
        height:20px;
        line-height: 10px;
    }
    .pasantia_datos span{
        text-align: center;
    }
    .pasantia_datos{
        padding-top: 5px;
    }
    .estudiante .datos #datos_e span{
        line-height: normal;
        padding: 0px 0px 0px 0px;
    }
    .estudiante .documentos label{
        padding: 5px 0px 0px 0px;
        flex-direction: row;
        height:40px;
    }
    .estudiante .documentos span{
        line-height:15px;
        width: 80%;
        padding: 5px 1px 0px 1px;
    }
    
    input{
        width: 100%;
        height: 35px;
        margin-top:5px;
    }
    #busc label{
        width: 47%;
    }
    #busc span{
        text-align: left;
    }
    #central{
        margin-top: 0px;
        height:100%;
    }
    #central ul{
        padding:0px 0px 0px 0px;
        height: 100%;
    }
    #central ul .list{
        padding: 5px 0px 0px 0px;
        height: 100%;
    }
    #central ul .list #aux{
        padding: 0px 0px 0px 0px;
        margin: none;
        align-items: center;
        width: 100px;
        height:100%;
    }
    #central ul .list #aux .i{
        width: 56px;
        height: 56px;
        align-items: center;
        padding:0px 0px 0px 0px;
    }
    #central ul .list #aux .i ion-icon{
        width: 20px;
        height: 20px;
        padding: 0px 0px 0px 0px;
    }
    #central ul .list #aux .txt{
        width: 100px;
        text-align: center;
        padding: 0px 0px 0px 0px;

    }
    #bus{
        width: 40px;
        padding-left: 0px;
    }
    #bus #bus_sup{
        display: none;
    }
    #not{
        width: 80px;
        padding-right: 0px;
    }
    .d_auc{
        width: 100%;
    }
    .aux_label{
        height: 110px;
    }
}
.boton_e{
    padding: 10px 15px;
    background-color:#5488a3;
    color:#fff;
    border-radius: 8px;
    cursor: pointer;
    transition: all 300ms ease;
}
.boton_e:hover{
    background-color:#185e83;
}
.boton-m{
    padding: 40px;
    background-color:#fff;

}
#btn-m{
    display: none;
}
.contenedor-modal{
    width: 100%;
    height: 100vh;
    position:fixed;
    top: 0;left: 0;
    background-color:rgba(144,148,150,0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index:100;
}
#btn-m:checked ~ .contenedor-modal{
    display: flex;
}
.contenido-modal{
    width: 100%;
    max-width: 350px;
    padding:15px;
    background-color:#fff;
    border-radius: 4px;
}
.contenido-modal h2 {
    margin-bottom:10px;
}
.contenido-modal p{
    padding:15px 0px;
    border-top:1px solid #dbdbdb;
    border-bottom:1px solid #dbdbdb;
}
.contenido-modal .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
.cerrar-modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;left: 0;
    z-index: -1;
}
