{% extends 'users/base.html' %}

{% block tittle %}Estado Pasantia{% endblock tittle %}

{% block content %}
<div id="caja_presentacion">
            
    <div class="espera">
        <div class="anillo"></div>
        <div class="anillo"></div>
        <div class="anillo"></div>
        <p>Esperando para revision.
            Pasantia 50</p>
    </div>
    <div class="anuncio verde">
        <p>Felicidades fuiste elegido para la pasantia presenta tus documentos en fisico</p>
    </div>
    <div class="anuncio rojo">
        <p>Lo sentimos... otra persona fue elegida no te desanimes y sigue postulando</p>
    </div>
    <div class="anuncio">
        <p>Animate a postular a una pasantia solo tienes que subir tus documentos</p>
    </div>
</div>
{% endblock content %}